/* -- ve.FileExplorer -- */
[component="ve-file-explorer"] {
    [component="ve-hierarchy-datatype"] {
        input {
            cursor: default;
        }
        input[type="text"] {
            cursor: text;
        }
        .nst-content:hover {
            cursor: pointer;
        }
        .nst-content [component="ve-text"] {
            max-width: 12rem;
            overflow: hidden;
        }
        
        [component="ve-button"] {
            display: inline;
            padding: 0;
            
            button {
                background: none;
                border: none;
                color: var(--body-colour);
                opacity: 0.6;
                padding: 0;
                transition: all 0.5s ease;
            }
            button:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    [component="ve-hierarchy-datatype"][data-ve-is-information="true"] {
        .nst-content:hover {
            cursor: default;
        }
    }
    [component="ve-hierarchy-datatype"].selected {
        .nst-content {
            background-color: var(--accent-primary-colour);
        }
    }
}

/* -- ve.FileExplorer Modals -- */
label[for] {
    margin-left: var(--padding);
}