/* -- ve.WordProcessor -- */
.wysiwyg-editor-container {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.wysiwyg-editor {
    border: 1px solid transparent;
    bottom: 1rem;
    position: relative;
    width: 100%;

    .toolbar {
        background-color: var(--bg-secondary-colour);
        border: 1px solid white;
        border-right: 2px solid white;
        position: sticky;
        top: 0;
        z-index: 1; /* Ensure toolbar stays on top when scrolling content */

        .line {
            display: flex;

            border-bottom: 1px solid var(--body-colour);
        }
        &:last-child {
            border-bottom: none;
        }

        .box {
            border-left: 1px solid var(--body-colour);
            display: flex;

            .editor-button {
                display: flex;

                align-items: center;
                justify-content: center;
                position: relative;
                transition: .2s ease all;
                
                &.icon:not(:hover) img {
                    filter: invert(1);
                    opacity: 0.83;
                }
                &.icon img {
                    box-sizing: content-box;
                    padding: 4px;
                    transition: all 0.5s ease;
                    width: 15px;
                }
                &.icon.small {
                    height: auto;
                    width: auto;
                }
                &.icon.smaller img {
                    width: 16px;
                }
                &.icon.smaller img:hover {
                    background-color: var(--accent-secondary-colour);
                    opacity: 1;
                }
                &.has-submenu {
                    padding-left: 0.85rem;
                    padding-right: 0.5rem;
                    width: 20px;

                    .has-submenu-chevron {
                        
                    }
                    .submenu {
                        background-color: var(--bg-secondary-colour);
                        border: 1px solid #b5b5b5;
                        border-top: none;
                        display: block;
                        left: 0px;
                        padding: 2px;
                        position: absolute;
                        top: 34px;
                        transform: translateY(-8px);
                        transition: all 0.5s ease;
                        z-index: 10;

                        .button {
                            width: 39px;
                        }
                        &:hover {
                            display: block;
                        }
                    }
                }
                &.has-submenu:hover::after {
                    filter: brightness(0);
                }
            }
            .editor-button:hover {
                background-color: var(--accent-secondary-colour);
                cursor: pointer;
            }
        }
    }

    .content-area {
        height: 12rem;
        line-height: 1.5;
        overflow-x: hidden;
        overflow-y: auto;
        resize: vertical;
        table-layout: fixed;
        width: 100%;

        .visual-view {
            min-height: 12rem;
            outline: none;
            padding: 15px 12px;
        }
        .visual-view:not(:empty) {
            min-height: 12rem;
            display: table;
            outline: none;
            width: calc(100% - 24px);
            padding: 15px 12px;
            table-layout: fixed;
        }
        .visual-view p {
            margin: 0px;
        }

        .html-view {
            width: 100%;
            height: 200px;

            border: none;
            display: none;
            outline: none;
            resize: none;
        }
        
        a {
            color: var(--accent-secondary-colour);
        }
    }
    .modal {
        display: none;
        z-index: 40;

        .modal-wrapper {
            position: fixed;

            left: 50%;
            top: 50%;

            background-color: var(--bg-primary-colour);
            min-height: 10rem;
            padding: 1rem;
            transform: translate(-50%, -50%);
            width: 20rem;
            z-index: 41;

            .close {
                position: absolute;
                top: 1rem;
                right: 1rem;

                cursor: pointer;
            }

            .modal-content {
                flex-direction: column;

                h3 {
                    margin-top: 0;
                }

                input {
                    margin: 1rem 0;
                    padding: 0.5rem;
                }
                input[type="text"] {
                    width: calc(100% - 1rem);
                }

                .row label {
                    margin-left: .5rem;
                }

                button {
                    background-color: #D2434F;
                    border: 0;
                    color: white;

                    cursor: pointer;
                    padding: .5rem 1.2rem;
                }
            }
        }
    }
    .modal-bg {
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;

        background-color: rgba(0, 0, 0, 0.3);
    }
    .modal-content {
        color: var(--body-colour);
    }
    .modal-wrapper {
        border-radius: 8px;
        min-height: 0px;
        padding: 0.75rem;
        transform: translate(35%, 20rem); /* This positioning is quite specific */

        .close {
            position: absolute;
            height: 1rem;
            top: 0px;
            right: 0px;
            width: 1rem;
            color: black;
            padding: 0.5rem;
            text-align: center;
            vertical-align: middle; /* Ensure icon/text inside is centered if needed */
        }
    }
}

/* -- Modal content fixes -- */
.modal-content h3 {
    margin-top: 0;
}

/* -- Toolbar fixes -- */
@keyframes ve-word-processor-submenu-fade {
    from {}
    99% {
        opacity: 0;
        pointer-events: all;
    }
    to { 
        opacity: 0;
        pointer-events: none;
    }
}
.has-submenu:not(:hover) .submenu:not(:hover) {
    animation: 0.2s ve-word-processor-submenu-fade forwards;
}
.submenu {
    background-color: white;
    position: relative;
    transition: all 0.1s ease;
    z-index: 100;
}
.submenu:hover {
    opacity: 1;
    pointer-events: all;
}
.editor-button.icon[title="Show HTML Code"].active > img {
    filter: brightness(0);
}