html, head, body {
    height: 100%;
    margin: 0px;
    width: 100%;
}
b { font-weight: 700; }
canvas, iframe { user-select: none; }

.tippy-box { max-width: fit-content !important; }

.ve.overlay {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    height: 100dvh;
    width: 100dvw;
    
    > div {
        pointer-events: auto;
    }
}
.ve.scene {
    position: fixed;

    height: 100dvh;
    width: 100dvw;
}

/* -- Vercengen themes -- */
:root {
    --navbar-height: 2rem;
    
    --accent-primary-colour: rgba(200, 40, 40);
    --accent-secondary-colour: rgba(240, 60, 60);
    --accent-tertiary-colour: rgba(255, 255, 255, 0.15);
    --bg-primary-colour: rgba(0, 0, 0, 0.85);
    --bg-secondary-colour: rgba(35, 35, 35);
    --hover-colour: rgba(255, 255, 255, 0.3);

    --header-colour: white;
    --header-font-family: "Karla";
    --header-font-size: 1rem;
    --header-font-weight: 700;
    --image-filter: brightness(100);
    --monospace-font-family: "Fira Code";

    --body-colour: white;
    --body-font-family: "Karla";
    --body-font-size: 0.85rem;
    --body-font-weight: 300;

    --cell-padding: 0.25rem;
    --default-width: 12rem;
    --padding: 0.5rem;
}